.seo_training {
    padding: 75px 0;
    background: #EFF5FE;
    .training_items{
        gap: 0 40px;
    }
    .training_title {
        color: #00C3FF;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        &.blue{
            color: #126CC5;
        }
        &.blue_dark{
            color: #1C17A2;
        }
    }
}