@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.hero {
  background: url("../images/hero_image.png") no-repeat right center;
  padding-bottom: 65px;
}
.hero .hero_title {
  color: #333;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.hero .hero_info {
  width: calc(50% - 32px);
}
.hero .hero_info .hero_action {
  color: #333;
  font-family: "Microsoft Sans Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 28px;
}
.hero .hero_info .hero_lists {
  margin-top: 48px;
  color: #333;
  font-family: "Microsoft Sans Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 15px 0;
}
.hero .hero_info .hero_lists li {
  gap: 10px;
}
.hero .hero_info .hero_lists li img {
  margin-top: 5px;
}
.hero .hero_info .hero_form {
  margin-top: 27px;
}
.hero .hero_info .hero_form .form_item {
  gap: 17px;
}
.hero .hero_info .hero_form .form_item input {
  border: 0;
  outline: none;
  padding: 19px 25px;
  min-width: 230px;
  border-radius: 30px;
  background: #F4F4F4;
}
.hero .hero_info .hero_form .button_hero {
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 30px;
  background: linear-gradient(214deg, #3077B2 20.76%, #0900FF 79.87%);
  padding: 19px 65px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
}
.hero .hero_info .hero_form .check {
  margin-top: 15px;
  gap: 5px;
}
.hero .hero_info .hero_form .check .check_title_bold {
  color: #333;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.hero .hero_info .hero_form .check p {
  color: #818181;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.contents {
  padding: 75px 0;
  background: #F0F6FF;
}
.contents .section_title {
  margin-bottom: 15px;
}
.contents .contents_link {
  width: 50%;
  gap: 15px 0;
}
.contents .contents_link li {
  list-style: none;
}
.contents .contents_link a {
  color: #333;
}
.contents .contents_img {
  width: 50%;
}
.contents .contents_img img {
  object-fit: contain;
}

.price {
  padding: 75px 0;
}
.price .price_list {
  margin-top: 45px;
}
.price .price_item {
  padding: 22px 22px 48px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.15);
  width: calc(33.33% - 20px);
}
.price .price_item .price_title {
  color: #333;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.price .price_item .price_subtitle {
  color: #00C3FF;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.price .price_item .price_description {
  margin-top: 15px;
  color: #717171;
}
.price .price_item .price_lists {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 23px;
  padding: 0 !important;
}
.price .price_item .price_lists li {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.price .price_item .price_lists li img {
  margin-top: 5px;
}
.price .price_item .price_bottom .deadline {
  display: flex;
  align-items: center;
  gap: 5px;
}
.price .price_item .price_bottom .deadline span:not(.dedline_text) {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 6px 7px 5px;
  border-radius: 12px;
  background: #FE4C1C;
}
.price .price_item .price_bottom .deadline .dedline_text {
  color: #FE4C1C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.price .price_item .price_bottom .price_sum {
  color: #00C3FF;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}
.price .price_item .price_bottom .price_sum .underline {
  color: #818181;
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  text-decoration: line-through;
}
.price .price_item .price_bottom .term {
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 15px;
}
.price .price_item .price_bottom .button {
  display: flex;
  border-radius: 30px;
  background: linear-gradient(85deg, #00C3FF 29.32%, #7BE0FF 67.76%);
  margin-top: 33px;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
}
.price .price_item.tarif_medium .price_subtitle {
  color: #126CC5;
}
.price .price_item.tarif_medium .price_bottom .price_sum {
  color: #126CC5;
}
.price .price_item.tarif_medium .price_bottom .button {
  background: linear-gradient(265deg, #7CBEFF 31.87%, #178CFF 66.24%);
}
.price .price_item.tarif_premium .price_subtitle {
  color: #1C17A2;
}
.price .price_item.tarif_premium .price_bottom .price_sum {
  color: #1C17A2;
}
.price .price_item.tarif_premium .price_bottom .button {
  background: linear-gradient(214deg, #3730B2 20.76%, #0900FF 79.87%);
}

.seo_consult_form {
  padding: 75px 0;
  background: #F0F6FF;
}
.seo_consult_form .container {
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
  padding: 60px 0 60px 60px;
}
.seo_consult_form_title {
  color: #333;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.seo_consult_form .form {
  width: 40%;
}
.seo_consult_form .form label {
  display: flex;
}
.seo_consult_form .form label:nth-child(1) {
  margin-top: 50px;
}
.seo_consult_form .form label:nth-child(2) {
  margin-top: 35px;
}
.seo_consult_form .form label.check {
  margin-top: 30px;
  gap: 5px;
}
.seo_consult_form .form input:not([type=checkbox]) {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 0;
  outline: none;
  width: 100%;
  border-bottom: 1px solid #333;
}
.seo_consult_form .form input[type=checkbox] {
  margin-top: 5px;
}
.seo_consult_form .form .check_title .check_title_bold {
  color: #333;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.seo_consult_form .form .check_title p {
  color: #818181;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.seo_consult_form .form .check_title p a {
  color: #00C3FF;
}
.seo_consult_form .form .button {
  border-radius: 30px;
  color: #FFF;
  padding: 20px 40px;
  background: linear-gradient(214deg, #3730B2 20.76%, #0900FF 79.87%);
}

.seo_information {
  padding-top: 75px;
  padding-bottom: 73px;
}
.seo_information .seo_contents {
  margin-top: 45px;
  gap: 0 40px;
}
.seo_information .seo_contents .seo_title {
  color: #333;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.chart_content {
  padding-top: 35px;
}
.chart_content .chart_title {
  color: #333;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.chart_content .chart_subtitle {
  color: #333;
  margin-top: 5px;
}
.chart_content .chart {
  background: #EFF5FE;
  border-radius: 30px;
  padding: 30px;
  margin-top: 20px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
}

.seo_training {
  padding: 75px 0;
  background: #EFF5FE;
}
.seo_training .training_items {
  gap: 0 40px;
}
.seo_training .training_title {
  color: #00C3FF;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.seo_training .training_title.blue {
  color: #126CC5;
}
.seo_training .training_title.blue_dark {
  color: #1C17A2;
}

.purchase {
  padding: 75px 0;
}
.purchase_items {
  margin-top: 45px;
}
.purchase_item {
  padding: 35px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
  width: calc(33.33% - 20px);
}
.purchase_item:nth-child(2) {
  background-image: url(../images/star.png);
  background-repeat: no-repeat;
  background-position: right;
}
.purchase_title {
  color: #00C3FF;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.purchase_lists {
  margin-top: 24px;
}
.purchase_lists li {
  gap: 10px;
}

.advantages {
  padding: 31px 0 75px;
  background: #F0F6FF;
}
.advantages_top {
  gap: 0 70px;
}
.advantages_text {
  color: #FFF;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 35px;
  border-radius: 30px;
  background: linear-gradient(265deg, #7CBEFF 31.87%, #178CFF 66.24%);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
}
.advantages_image img {
  width: 100%;
  object-fit: contain;
}
.advantages .section_title {
  margin-top: 79px;
}
.advantages_items {
  margin-top: 45px;
}
.advantages_item {
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
  padding: 35px 22px;
  width: calc(33.33% - 20px);
}
.advantages_item .button {
  border-radius: 30px;
  background: linear-gradient(85deg, #00C3FF 29.32%, #7BE0FF 67.76%);
  padding: 14px 38px 13px;
  color: #fff;
  margin-top: 13px;
}
.advantages_item .adv_info {
  color: #00C3FF;
  text-align: center;
  margin-top: 15px;
}

.seo_advantages {
  padding: 75px 0 86px;
}
.seo_advantages .seo_advantages_items {
  margin-top: 31px;
  flex-wrap: wrap;
}
.seo_advantages .seo_advantages_items .seo_advantages_item {
  width: calc(25% - 20px);
}
.seo_advantages .seo_advantages_items .seo_advantages_item .seo_adv_title {
  margin-top: 25px;
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.seo_advantages .seo_advantages_items .seo_advantages_item .seo_adv_description {
  margin-top: 10px;
  color: #333;
}

.portfolio {
  padding: 75px 0;
}
.portfolio .portfolio_top {
  padding: 60px;
  border-bottom: 2px solid #C5C5C5;
}
.portfolio .portfoli_content {
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
}
.portfolio_title {
  color: #333;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.portfolio .portfolio_component {
  padding: 60px;
}
.portfolio .portfolio_component .portfolio_lists {
  margin-top: 30px;
  gap: 70px;
}
.portfolio .portfolio_component .portfolio_lists .portfolio_list {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
.portfolio .portfolio_component .portfolio_lists .portfolio_list li {
  align-items: start;
  gap: 10px;
}
.portfolio .portfolio_component .portfolio_lists .portfolio_list li img {
  margin-top: 4px;
}

.course {
  padding: 75px 0;
  background-color: #F0F6FF;
}
.course .course_items {
  margin-top: 45px;
}
.course .course_item {
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
  padding: 35px;
  width: calc(33.33% - 20px);
}
.course .course_item:nth-child(2) {
  background-image: url(../images/star.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.course .course_item .course_title {
  margin-top: 15px;
  color: #00C3FF;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}
.course .course_item .course_description {
  margin-top: 15px;
}

.features {
  padding: 75px 0;
}
.features_items {
  margin-top: 45px;
  flex-wrap: wrap;
  gap: 40px 0;
}
.features_item {
  width: calc(33.33% - 20px);
}
.features_item .features_number {
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(85deg, #00C3FF 29.32%, #7BE0FF 67.76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features_item:nth-child(2) .features_number, .features_item:nth-child(5) .features_number {
  background: linear-gradient(265deg, #7CBEFF 31.87%, #178CFF 66.24%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.features_item:nth-child(3) .features_number, .features_item:nth-child(6) .features_number {
  background: linear-gradient(214deg, #3730B2 20.76%, #0900FF 79.87%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features_item .features_title {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
}
.features_item .features_description {
  color: #333;
  margin-top: 10px;
}

.seo_education {
  padding: 25px 0 53px;
}
.seo_education .container {
  border-radius: 30px;
  background: linear-gradient(85deg, #00C3FF 29.32%, #7BE0FF 67.76%);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
  padding: 60px;
  color: #fff;
}
.seo_education .container .section_title {
  color: #fff;
}
.seo_education .container .seo_subtitle {
  margin-top: 13px;
  width: 70%;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.seo_education .container .form {
  width: 70%;
  margin-top: 50px;
}
.seo_education .container .form .form_item {
  gap: 40px;
  width: 100%;
}
.seo_education .container .form .form_item label {
  width: calc(50% - 20px);
}
.seo_education .container .form .form_item input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #FFFFFF;
  font-weight: 300;
  color: #fff;
}
.seo_education .container .form .form_item input::placeholder {
  color: #fff;
}
.seo_education .container .form .check {
  gap: 5px;
  margin-top: 30px;
}
.seo_education .container .form .check input {
  margin-top: 2px;
}
.seo_education .container .form .check .check_title {
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.seo_education .container .form .check .check_link {
  margin-top: 4px;
  color: #FFF;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.seo_education .container .form .check .check_link a {
  color: #FFF;
}
.seo_education .container .form .button {
  color: #00C3FF;
  margin-top: 35px;
}
.seo_education .container .edu_image {
  position: relative;
  width: 40%;
}
.seo_education .container .edu_image img {
  top: -200px;
  left: 10%;
  position: absolute;
}
.seo_education.form_course {
  padding: 75px 0;
  background: #F0F6FF;
}
.seo_education.form_course .container {
  border-radius: 30px;
  background: linear-gradient(265deg, rgba(254, 76, 28, 0.5) 31.48%, rgba(255, 61, 0, 0.8) 67.07%);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
}
.seo_education.form_course .container .section_title {
  width: 70%;
}
.seo_education.form_course .container .button {
  color: #FE4C1C;
}
.seo_education.form_course .container .edu_image img {
  top: -116%;
  left: 20%;
}

.comments {
  padding: 75px 0;
}
.comments_items {
  margin-top: 28px;
  gap: 40px 0;
}
.comments_item {
  padding: 35px;
  width: calc(50% - 20px);
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
}
.comments_item .item_top {
  gap: 15px;
}
.comments_item .user_name {
  color: #333;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.comments_item .comments_info {
  margin-top: 15px;
}

.consultation {
  padding: 75px 0;
  background: #F0F6FF;
}
.consultation .consultation_components {
  margin-top: 45px;
}
.consultation .consultation_content {
  width: calc(32% - 14px);
}
.consultation .consultation_content .consultation_btn {
  border-radius: 20px;
  border: 2px solid #FE4C1C;
  background: #FFF;
  font-weight: 700;
  padding: 16px 30px;
  display: flex;
  text-decoration: none;
  color: #FE4C1C;
}
.consultation .consultation_content .consultation_title {
  color: #333;
  font-weight: 700;
  margin-top: 20px;
}
.consultation .consultation_content .consultation_action {
  margin-top: 10px;
}
.consultation .consultation_content .consultation_cashback {
  border-bottom: 2px solid #FE4C1C;
  color: #FE4C1C;
  padding-bottom: 20px;
}
.consultation .consultation_content .consultation_sum {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}
.consultation .consultation_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  border-radius: 30px;
  background: linear-gradient(265deg, rgba(254, 76, 28, 0.75) 31.48%, rgba(255, 61, 0, 0.9) 67.07%);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
  width: calc(36% - 42px);
}
.consultation .consultation_form .consultation_item:last-child {
  margin-top: 5px;
}
.consultation .consultation_form .consultation_item input {
  width: 100%;
  border: 0;
  background: none;
  outline: 0;
  border-bottom: 1px solid #fff;
}
.consultation .consultation_form .consultation_item input::placeholder {
  color: #fff;
}
.consultation .consultation_form .check {
  gap: 5px;
}
.consultation .consultation_form .check .check_title {
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
}
.consultation .consultation_form .check .check_link {
  color: #FFF;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
}
.consultation .consultation_form .check .check_link a {
  color: #fff;
}
.consultation .consultation_form .button {
  width: fit-content !important;
}
.consultation .consultation_content_list {
  gap: 49px;
  width: calc(32% - 28px);
}
.consultation .consultation_content_list .consultation_content_item {
  gap: 10px;
  align-items: flex-start;
}
.consultation .consultation_content_list .consultation_content_item .consultation_content_title {
  color: #333;
  font-weight: 700;
}
.consultation .consultation_content_list .consultation_content_item .consultation_content_desciption {
  margin-top: 5px;
}

.faq {
  padding: 75px 0;
}
.faq_items {
  gap: 30px 0;
  flex-wrap: wrap;
  margin-top: 50px;
}
.faq_item {
  width: calc(50% - 20px);
}
.faq_item .faq_title {
  color: #1C17A2;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 15px;
  position: relative;
}
.faq_item .faq_title::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: #1C17A2;
  display: block;
  position: absolute;
  bottom: 0;
}
.faq_item .faq_description {
  margin-top: 15px;
}

.offer {
  padding: 75px 0 95px;
  background: linear-gradient(265deg, #7CBEFF 31.87%, #178CFF 66.24%);
}
.offer .offer_info {
  width: calc(60% - 50px);
}
.offer .section_title {
  color: #fff;
}
.offer .offer_description {
  margin-top: 28px;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.offer .button {
  margin-top: 25px;
  display: block;
  width: fit-content;
}
.offer .offer_image {
  width: calc(40% - 50px);
}

@font-face {
  font-family: "Microsoft Sans Serif";
  src: url(../fonts/micross.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, p {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  background-color: #FFFFFF;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.flex.between {
  justify-content: space-between;
}
.flex.center {
  justify-content: center;
}
.flex.end {
  justify-content: flex-end;
}
.flex.start {
  justify-content: flex-start;
}
.flex.column {
  flex-direction: column;
}
.flex.a_center {
  align-items: center;
}
.flex.a_start {
  align-items: flex-start;
}
.flex.a_end {
  align-items: flex-end;
}
.flex.wrap {
  flex-wrap: wrap;
}

.section_title {
  color: #333;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button {
  padding: 20px 39px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  border-radius: 30px;
  background: #FFF;
  text-decoration: none;
  border: 0;
}

.blue {
  color: #126CC5 !important;
}

.blue_dark {
  color: #1C17A2 !important;
}/*# sourceMappingURL=main.css.map */